<!DOCTYPE html>
<html xmlns:th="thymeleaf.org" xmlns:sec="thymeleaf.org">
<head>
<meta charset="utf-8">
<title>FindOok</title>
    <link rel="icon" type="image/png" href="/images/logo_small_icon_only.png">
<link rel="stylesheet" th:href="@{/css/estilos.css}">
<link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<body>
 <header class="header">
       <nav>
       		<a th:href="@{/index}">
            	<div class="logo">
                	<img th:src="@{/images/logo_small_icon_only.png}" alt="libro">
                	<h3>FINDOOK</h3>
            	</div>
      		</a>
            <ul class="navegacion" sec:authorize="hasRole('ROLE_ANONYMOUS')">
                <li sec:authorize="hasRole('ROLE_ANONYMOUS')"><a th:href="@{/registrarse}">Registrarse</a></li>
                <li sec:authorize="hasRole('ROLE_ANONYMOUS')"><a th:href="@{/login}">Iniciar Sesion</a></li>
            </ul>
            <ul class="navegacion" sec:authorize="isAuthenticated()">
            	<li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/panel}">Panel</a></li>
            	<li><a th:href="@{/insertar}">Publicar</a></li>
                <li>
                	<a href="#">
                		<div class="usuario">
                   			<p  sec:authentication="name"></p>
                    		<img th:src="@{/images/perfilDefault.png}">
                		</div>
                	</a>
                	<ul>
                		<li><a th:href="@{/perfil}">Ver perfil</a></li>
                		<li><a th:href="@{/ofertas}">Ofertas recibidas</a></li>
                		<li><a th:href="@{/logout}">Cerrar Sesion</a></li>
                	</ul>
                </li>
            </ul>
        </nav>
    </header>
    <div class="formulario">
	<img class="marca" alt="logo" src="/images/logo_small.png">
	<form th:action="@{/editarusuario}" th:object="${usuario}" method="post">
	<div class="alerta" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</div>
	<div class="alerta" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</div>
	<div class="alerta" th:if="${Error}" th:text="${Error}">Name Error</div>
		<div><label><input type="text" name="username" id="username" th:value="${usuario.username}" th:fields="*{username}" placeholder="Nombre de usuario" required="required" autocomplete="off"/></label></div>
		<div><label><input type="email" name="correo" id="correo" th:value="${usuario.correo}" th:fields="*{correo}" placeholder="Email" required="required" autocomplete="off"/></label></div>
		<div><label><input type="password" name="password" id="password" placeholder="Contraseña" th:fields="*{password}" required="required"/></label></div>
		<div><label><input type="password" name="confirmarpassword" id="confirmarpassword" placeholder="Confirmar contraseña" th:fields="*{password}" required="required"/></label></div>
		<div class="botones">
        	<input type="submit" value="Editar" />
        	<a th:href="@{/index}">Cancelar</a>
        </div>
		<input type="hidden" name="idusuario" id="idusuario" th:value="${idusuario}" th:field="*{idusuario}"/>
		<input type="hidden" name="fecharegistro" id="fecharegistro" th:value=${usuario.fecharegistro} th:field="*{fecharegistro}">
	</form>
	 </div>
</body>
</html>