<!DOCTYPE html>
<html xmlns:th="thymeleaf.org" xmlns:sec="thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Perfil</title>
<link rel="stylesheet" th:href="@{/css/estilos.css}">
<link rel="stylesheet" th:href="@{/css/perfil.css}">
<script th:src="@{/js/perfil.js}"></script>
</head>
<body>
 <header class="header">
       <nav>
       		<a th:href="@{/index}">
            	<div class="logo">
                	<img th:src="@{/images/logo_small_icon_only.png}" alt="libro">
                	<h3>FINDOOK</h3>
            	</div>
      		</a> 
            <ul class="navegacion" sec:authorize="hasRole('ROLE_ANONYMOUS')">
                <li sec:authorize="hasRole('ROLE_ANONYMOUS')"><a th:href="@{/registrarse}">Registrarse</a></li>
                <li sec:authorize="hasRole('ROLE_ANONYMOUS')"><a th:href="@{/login}">Iniciar Sesion</a></li>
            </ul>
            <ul class="navegacion" sec:authorize="isAuthenticated()">
            	<li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/panel}">Panel</a></li>
            	<li><a th:href="@{/insertar}">Publicar</a></li>
                <li>
                	<a href="#">
                		<div class="usuario">
                   			<p  sec:authentication="name"></p>
                    		<img th:src="@{/images/perfilDefault.png}">
                		</div>
                	</a>
                	<ul>
                		<li><a th:href="@{/perfil}">Ver perfil</a></li>
                		<li><a th:href="@{/logout}">Cerrar Sesion</a></li>
                	</ul>
                </li>
            </ul>
        </nav>
    </header>
    <div class="banner" th:object="${usuario}">
    	<img alt="usuario" src="/images/perfilDefault.png">
		<div>
    		<h1 th:text="${usuario.username}"></h1>
			<h3 class="numPublicacion">Número de publicaciones:</h3>
			<h3><a th:href="@{/editarusuario(idusuario=${usuario.idusuario})}">Editar usuario</a></h3>
		</div>
    </div>
    <h1>MIS PUBLICACIONES</h1>
	<div class="misPublicaciones"></div>
	
</body>
</html>