<!DOCTYPE html>
<html xmlns:th="thymeleaf.org" xmlns:sec="thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Panel administrador</title>
<link rel="stylesheet" th:href="@{/css/estilos.css}">
<link rel="stylesheet" th:href="@{/css/panel.css}">
<script th:src="@{/js/panel.js}"></script>
</head>
<body>
<header class="header">
       <nav>
       		<a th:href="@{/index}">
            	<div class="logo">
                	<img th:src="@{/images/logo_small_icon_only.png}" alt="libro">
                	<h3>FINDOOK</h3>
            	</div>
      		</a>
            <ul class="navegacion" sec:authorize="hasRole('ROLE_ANONYMOUS')">
                <li><a th:href="@{/registrarse}">Registrarse</a></li>
                <li><a th:href="@{/login}">Iniciar Sesion</a></li>
            </ul>
            <ul class="navegacion" sec:authorize="hasRole('ROLE_USER')">
            	<li><a th:href="@{/insertar}">Publicar</a></li>
                <li><a th:href="@{/logout}">Cerrar Sesion</a></li>
                <li>
                	<a href="#">
                		<div class="usuario">
                   			<p  sec:authentication="name"></p>
                    		<img th:src="@{/images/perfilDefault.jpg}">
                		</div>
                	</a>
                	<ul>
                		<li><a th:href="@{/logout}">Ver perfil</a></li>
                		<li><a th:href="@{/logout}">Cerrar Sesion</a></li>
                	</ul>
                </li>
            </ul>
            <ul class="navegacion" sec:authorize="hasRole('ROLE_ADMIN')">
            <li><a th:href="@{/panel}">Panel</a></li>
            	<li><a th:href="@{/insertar}">Publicar</a></li>
                <li>
                	<a href="#">
                		<div class="usuario">
                   			<p  sec:authentication="name"></p>
                    		<img th:src="@{/images/perfilDefault.jpg}">
                		</div>
                	</a>
                	<ul>
                		<li><a th:href="@{/logout}">Ver perfil</a></li>
                		<li><a th:href="@{/logout}">Cerrar Sesion</a></li>
                	</ul>
                </li>
            </ul>
        </nav>
    </header>
    <h1>PANEL DE ADMINISTRADOR</h1>
    <footer class="footer">
    	<p>Gabriel Alejandro Delgado Perez<p>
    </footer>
</body>
</html>