body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
    background-color: whitesmoke;
    } 

strong {
    color: orange;
}

.header {
    width: 100%;
    font-size: 20px
}


.logo>img {
    width: 60px;
    padding: 5px;
}

.logo{
	display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    color: white;
    position: absolute;
	cursor: default;
	margin: 7px;
}

.navegacion {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;
    color: white;
    background: black;
}

.navegacion a {
	display: block;
    text-decoration: none;
    color: white;
}

.navegacion li {
    padding: 30px;
    color: white;
    background-color: transparent;
    transition: background-color .3s ease-out;
}

.usuario>img {
	width: 30px;
	margin-left: 10px;
    border-radius: 30px;
}

.usuario {
	display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    color: white;
    cursor: pointer;
}

.navegacion li:hover {
    background: orange;
    cursor: pointer;
}

.contenedor {
    font-size: .8em;
    width: 100%;
    height:800px;
    margin: 0 auto;
    position: relative;
    background-image: url("/images/logo_small.png");
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
    font-size: 20px
}

.publicaciones {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
}

article {
    width: 600px;
    height: 300px;
    margin: 15px 20px;
    padding: 10px;
    border: 1px solid orange;
    border-radius: 20px;
    background-color: #d9ebf3;
    box-shadow: 17px 19px 13px -5px rgba(0, 0, 0, 0.41);
}

article>img {
    width: 25%;
    height: 75%;
    display: block;
    box-sizing: border-box;
    float: left;
    margin: 5px;
}

.info{ 
    width: 70%;
    height:65%;
    box-sizing: border-box;
    float: left;
    padding-left: 10px;
    word-wrap: word-break;
    text-align: left;
    text-overflow: ellipsis;
}

.info span{
	display:block;
}

.titulo span {
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 1em;
    color: orange;
    margin: 8px 0 5px 0;
    border-bottom: .10px solid blue;
}


.boton {
	float: right;
    font-size: .8em;
    padding: 1em;
    color: white;
    background-color: orange;
    border: 1px solid black;
    cursor: pointer;
    transition: background-color .5s ease-out;
}

.boton:hover {
    background-color: #ff4800;
}

.info span:nth-child(1)::first-letter {
    text-transform: uppercase;
}

.carrito {
    display: block;
    box-sizing: border-box;
    width: 400px;
    max-height: 700px;
    color: black;
    border: 1px solid orange;
    position: absolute;
    top: 0;
    background-color: #d9ebf3;
    transition: right .3s ease-in-out;
    overflow: auto;
}

.carrito header {
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    padding-left: 8px;
    background-color: orange;
}

.carrito>div {
    width: 80%;
    margin: 10px auto;
    border: 1px solid orange;
    padding: 10px;
}

.elimina-compra {
    display: block;
    font-size: .8em;
    text-align: center;
    background-color: white;
    line-height: 25px;
    margin: auto;
}

.eliminar {
    display: block;
    float: right;
    font-size: 20px;
    color: white;
    background-color: orange;
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
    transition: background-color .5s ease-out;
}

.comprar {
    display: block;
    padding: 10px;
    color: white;
    background-color: orange;
    border: 1px solid black;
    cursor: pointer;
    transition: background-color .5s ease-out;
}

.detallesCompra {
    font-size: 20px;
    text-align: left;
}