html{
	height: 100%;
}

body {
	height: 100%;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-size: initial;
    background-image: url("/images/logo_small_transparent.png");
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat;
    overflow-x: hidden;
    } 

strong {
    color: orange;
}

.header {
    width: 100%;
    font-size: 20px;
    background: black; 
}

.footer {
    width: 100%;
    font-size: 20px;
    background: orange;
    color: white;
    padding-left: 5px;
    position: fixed;
    bottom: 0;  
}

.logo>img {
    width: 60px;
    padding: 5px;
}

.logo{
	display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    color: white;
    position: absolute;
	cursor: default;
	margin: 7px;
}

.navegacion {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;
    color: white;
}

.navegacion a {
	display: block;
    text-decoration: none;
    color: white;
}

.navegacion li {
    padding: 30px;
    color: white;
    background-color: transparent;
    transition: background-color .3s ease-out;
}

.usuario>img {
	width: 30px;
	margin-left: 10px;
    border-radius: 30px;
}

.usuario {
	display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    color: white;
    cursor: pointer;
}

.navegacion li:hover {
    background: orange;
    cursor: pointer;
}

.contenedor {
    width: 100%;
    margin: auto;
}

.publicaciones {
    width: 100%;
    height: 82vh;
    margin: auto ;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    overflow: auto;
}

article {
	display: block;
    flex-basis: 572px;
    height: 250px;
    font-size: 20px;
    line-height: 1.5rem;
    margin: 15px 20px;
    padding: 10px;
    border: 1px solid orange;
    border-radius: 20px;
    background-color: #d9ebf3;
    box-shadow: 17px 19px 13px -5px rgba(0, 0, 0, 0.41);
}

article>img {
    width: 25%;
    height: 75%;
    display: block;
    box-sizing: border-box;
    float: left;
    margin: 5px;
}

.info{ 
    width: 70%;
    height:55%;
    box-sizing: border-box;
    float: left;
    padding-left: 10px;
    word-wrap: word-break;
    text-align: left;
    
}

.info span{
	display:block;
}

.titulo span {
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 1em;
    color: orange;
    margin: 8px 0 5px 0;
    border-bottom: .10px solid blue;
}


.boton {
	float: right;
    font-size: .8em;
    padding: 1em;
    color: white;
    background-color: orange;
    border: 1px solid black;
    cursor: pointer;
    transition: background-color .5s ease-out;
}

.boton:hover {
    background-color: #ff4800;
}

.info span:nth-child(1)::first-letter {
    text-transform: uppercase;
}

.descripcion {
 display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
