.oferta{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	width: 45%;
	height: 150px;
	padding: 10px;
	margin: auto;
	border: 2px solid orange;
	background-color: #d9ebf3;
}

.oferta img{
	height: 100%;
	margin-right: 10px;
}

.info{
	width: 77%;
}

.info div{
	padding: 4px;
}
.asunto{
	border-bottom: 1px solid blue;
}
.asunto span{
	width: 100%;
	padding: 5px;
}

.oferta a{
	float: right;
	margin: 0;
	padding: 5px;
}