img {
	width: 30px;
}

h1{
	text-align:center;
	color: orange;
	margin: 50px;
}

table{
	width: 60%;
	margin: auto;
	border: 2px solid black;
	text-align: center;
	border-spacing: 0;
}

th{
	background-color: #ffb66c;
	padding: 15px;
	border: 1px solid black;
	
}

td {
	background-color: #d9ebf3;
	border: 1px solid black;
	padding: 20px;
}