img {
	width: 30px;
}

h1{
	text-align:center;
	color: orange;
	margin: 50px;
}

.contenedortablas{
	width: 70%;
	margin: auto;
}

.pestañas{
	width: 100%;
}

button{
	width: 150px;
	font-size: 17px;
	padding: 10px;
	border-bottom: none;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color:#ffb66c;
	cursor: pointer;
	float:left;
}

button:hover{
	background-color:#d9ebf3;
}

table{
	width: 100%;
	text-align: center;
	border: 2px solid black;
	border-spacing: 0;
}

.tablapublicaciones, .tablacomentarios{
	width: 100%;
	display: none;
}

th{
	background-color: #ffb66c;
	padding: 15px;
	border: 1px solid black;
	
}

td {
	background-color: #d9ebf3;
	border: 1px solid black;
	padding: 20px;
}