*{
	padding: 0;
	margin: 0;
}

html{
	height: 100%;
}

body {
	height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-size: initial;
    background-image: url("/images/logo_small_transparent.png");
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat;
    overflow-x: hidden;
    } 
    
    
.header {
    width: 100%;
    font-size: 20px;
    background-color: black;
    height: 90px;
    position: relative;
    z-index: 3;
}

.logo>img {
    width: 60px;
    padding: 5px;
}

.logo{
	float: left;
	display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    color: white;
	margin: 7px;
}

.buscador input{
	width: 400px;
	border-radius: 5px;
	padding: 5px;
}

ul{
  list-style: none;
}

.navegacion {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    color: white;
}

.navegacion a {
	display: block;
    text-decoration: none;
    background-color: black;
    color: white;
    line-height: 30px;
    padding: 30px;
    transition: background-color .3s ease-out;
}

.navegacion a:hover {
    background: orange;
}

.usuario{
	display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    color: white;
}

.usuario>img {
	width: 40px;
	height: 30px;
	border-radius: 30px;
	margin-left: 10px;
}

/*desplegar menu de usuario*/
.navegacion>li>ul>li>a{
  	display: none;
  	border: 1px solid black;
  	background-color: gray;
  	font-size: 15px;
  	padding: 10px;
  	
}
.navegacion>li:hover>ul>li>a {
  	display:block;
}


.publicacion {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	padding: 10px;
	width: 80%;
	margin: auto;
	margin-top: 50px;
	background-color: #d9ebf3;
	border: 2px solid orange;
}

.publicacion img{
	width: 300px;
	margin-right: 40px;
}

.contenedor{
	color: orange;
	width: 70%;
}

.contenedor h1{
	text-transform: uppercase;
	padding-top: 10px;
}

.titulo{
	padding: 10px;
	border-bottom: 2px solid blue;
}

.info{
	margin-top: 20px;
	font-size: 20px;
	color: black;
}

.precio strong{
	color: black;
}

.usu {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	margin-top: 25px;
	font-size: 18px;
	
}

.usuomg{
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}

.usu img {
	width: 38px;
	height: 35px;
	border: 2px solid black;
	border-radius: 60px;
	margin-right: 5px;
}

.botones{
	float: right;
	padding: 20px;
}

.botones a{
	padding: 10px;
	background-color: orange;
	color: white;
	text-decoration: none;
	border: 1px solid black;
	transition: background-color .3s ease-out;
}

.botones a:hover{
	background-color: #ff4800;
}
