<!DOCTYPE html>
<html xmlns:th="thymeleaf.org" xmlns:sec="thymeleaf.org">
<head>
<meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
<title>Error</title>
</head>
<body>
<header class="header">
        <nav>
            <div class="logo">
                <img th:src="@{/images/logo_small_icon_only.png}" alt="libro">
                <h3>FINDOOK</h3>
            </div>
        </nav>
    </header>
	<h1>No tienes permiso para acceder a este recurso</h1>
	<a th:href="@{/index}">Volver al indice</a>
</body>
</html>