<!DOCTYPE html>
<html xmlns:th="thymeleaf.org" xmlns:sec="thymeleaf.org">
<head>
<meta charset="utf-8">
<link rel="stylesheet" th:href="@{/css/estilos.css}">
<link rel="stylesheet" th:href="@{/css/form.css}">
<title>Registro</title>
</head>
<body>
<header class="header">
       <nav>
       		<a th:href="@{/index}">
            	<div class="logo">
                	<img th:src="@{/images/logo_small_icon_only.png}" alt="libro">
                	<h3>FINDOOK</h3>
            	</div>
      		</a>
            <ul class="navegacion" sec:authorize="hasRole('ROLE_ANONYMOUS')">
                <li><a th:href="@{/registrarse}">Registrarse</a></li>
                <li><a th:href="@{/login}">Iniciar Sesion</a></li>
            </ul>
            <ul class="navegacion" sec:authorize="hasRole('ROLE_USER')">
            	<li><a th:href="@{/insertar}">Publicar</a></li>
                <li><a th:href="@{/logout}">Cerrar Sesion</a></li>
                <li>
                	<a href="#">
                		<div class="usuario">
                   			<p  sec:authentication="name"></p>
                    		<img th:src="@{/images/perfilDefault.jpg}">
                		</div>
                	</a>
                	<ul>
                		<li><a th:href="@{/logout}">Ver perfil</a></li>
                		<li><a th:href="@{/logout}">Cerrar Sesion</a></li>
                	</ul>
                </li>
            </ul>
            <ul class="navegacion" sec:authorize="hasRole('ROLE_ADMIN')">
            <li><a th:href="@{/panel}">Panel</a></li>
            	<li><a th:href="@{/insertar}">Publicar</a></li>
                <li>
                	<a href="#">
                		<div class="usuario">
                   			<p  sec:authentication="name"></p>
                    		<img th:src="@{/images/perfilDefault.jpg}">
                		</div>
                	</a>
                	<ul>
                		<li><a th:href="@{/logout}">Ver perfil</a></li>
                		<li><a th:href="@{/logout}">Cerrar Sesion</a></li>
                	</ul>
                </li>
            </ul>
        </nav>
    </header>
    <div class="formulario">
	<img alt="logo" src="/images/logo_small.png">
	<form th:action="@{/persistirusuario}" th:object="${usuario}" method="post">
		<div><label><input type="text" name="username" id="username" placeholder="Nombre de usuario" th:fields="*{username}"></label></div>
		<div class="alerta" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</div>
		<div><label><input type="email" name="correo" id="correo" placeholder="Email" th:fields="*{correo}"/></label></div>
		<div class="alerta" th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}">Name Error</div>
		<div><label><input type="password" name="password" id="password" placeholder="Contraseña" th:fields="*{password}"/></label></div>
		<div class="alerta" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</div>
		<div><label><input type="password" name="confirmarpassword" id="confirmarpassword" placeholder="Confirmar contraseña" th:fields="*{confirmarpassword}"/></label></div>
		<div class="alerta" th:if="${#fields.hasErrors('confirmarpassword')}" th:errors="*{confirmarpassword}">Name Error</div>
		<div class="alerta" th:if="${Error}" th:text="${Error}">Name Error</div>
		<div><input type="submit" value="Registrarse"/></div>
		<div class="cancelar"><a th:href="@{/index}">Cancelar</a></div>
	</form>
	 </div>
	     <footer class="footer">
    <p>Gabriel Alejandro Delgado Perez<p>
    </footer>
</body>
</html>