<!DOCTYPE html>
<html xmlns:th="thymeleaf.org" xmlns:sec="thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Formulario publicacion</title>
    <link rel="stylesheet" th:href="@{/estilos.css}">
    <link rel="stylesheet" th:href="@{/form.css}">
    <script th:src="@{/imagen.js}"></script>
</head>

<body>
    <header class="header">
        <nav>
            <div class="logo">
                <img th:src="@{/images/logo_small_icon_only.png}" alt="libro">
                <h3>FINDOOK</h3>
            </div>
            <ul class="navegacion" sec:authorize="hasRole('ROLE_ANONYMOUS')">
                <li><a th:href="@{/registrarse}">Registrarse</a></li>
                <li><a th:href="@{/login}">Iniciar Sesion</a></li>
            </ul>
            <ul class="navegacion" sec:authorize="isAuthenticated()">
            	<li><a th:href="@{/insertar}">Publicar</a></li>
                <li><a th:href="@{/logout}">Cerrar Sesion</a></li>
                <li>
                	<div class="usuario">
                    	<a sec:authentication="name"></a>
                    	<img th:src="@{/images/perfilDefault.jpg}">
                	</div>
                </li>
            </ul>
        </nav>
    </header>
    <div class="formulario">
    <img alt="logo" src="/images/logo_small.png">
    <div class="alerta" th:if="${Error}" th:text="${Error}">Name Error</div>
    <form th:action="@{/persistirpublicacion}" method="post" th:object="${publicaciones}" enctype="multipart/form-data">
        <div><input type="text" name="titulo" id="titulo" placeholder="Titulo"></div>
        <div><input type="text" name="descripcion" id="descripcion" placeholder="Descripcion"></div>
        <div><input type="text" name="precio" id="precio" placeholder="Precio"></div>
        <div><input type="file" name="file" id="imagenpublicacion" accept="image/*"> <img id="prev"></div>
        <input type="submit" value="insertar" />
        <div class="cancelar"><a th:href="@{/index}">Cancelar</a></div>
    </form>
    </div>
</body>

</html>