<!DOCTYPE html>
<html xmlns:th="thymeleaf.org" xmlns:sec="thymeleaf.org">
<head>
    <meta charset="utf-8">
<title>FindOok</title>
    <link rel="icon" type="image/png" href="/images/logo_small_icon_only.png">
    <link rel="stylesheet" th:href="@{/css/verPublicacion.css}">
    <script th:src="@{/js/verPublicacion.js}"></script>
</head>
<body>
 <header class="header">
       <nav>
       		<a th:href="@{/index}">
            	<div class="logo">
                	<img th:src="@{/images/logo_small_icon_only.png}" alt="libro">
                	<h3>FINDOOK</h3>
            	</div>
      		</a> 
            <ul class="navegacion" sec:authorize="hasRole('ROLE_ANONYMOUS')">
                <li sec:authorize="hasRole('ROLE_ANONYMOUS')"><a th:href="@{/registrarse}">Registrarse</a></li>
                <li sec:authorize="hasRole('ROLE_ANONYMOUS')"><a th:href="@{/login}">Iniciar Sesion</a></li>
            </ul>
            <ul class="navegacion" sec:authorize="isAuthenticated()">
            	<li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/panel}">Panel</a></li>
            	<li><a th:href="@{/insertar}">Publicar</a></li>
                <li>
                	<a href="#">
                		<div class="usuario">
                   			<p  sec:authentication="name"></p>
                    		<img th:src="@{/images/perfilDefault.png}">
                		</div>
                	</a>
                	<ul>
                		<li><a th:href="@{/perfil}">Ver perfil</a></li>
                		<li><a th:href="@{/ofertas}">Ofertas recibidas</a></li>
                		<li><a th:href="@{/logout}">Cerrar Sesion</a></li>
                	</ul>
                </li>
            </ul>
        </nav>
    </header>
    <div class="contenedor">
    	<div class="publicacion">
    	</div>
    	<div class="comentarios">
    	<div class="comenta"><h2>COMENTARIOS</h2></div>
    	<form class="comentar" th:action="@{/comentar}" th:object="${comentario}" method="post">
			<div><label><input type="text" name="asunto" id="asunto" placeholder="Asunto" required="required" autocomplete="off"/></label></div>
			<div><textarea name="contenido" id="contenido" placeholder="Comentario" required="required"></textarea></div>
        	<input type="submit" value="Comentar" />
		</form>
    	</div>
    </div>
</body>
</html>